
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=Cedarville+Cursive&family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap');

.reservation-form{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: center;
    background-color:#DAA520;
    color: white;
     font-family: 'BBH Sans Bogle', sans-serif;
     letter-spacing: 1px;
   font-size: large;
}
.inner-box{
   /* border: 2px solid black; */
   height: 70%;
   width: 100%;
   display: flex;
   
}
#book{
    margin-top: 8vh;
    font-size: 30px;
}

.input-section{
/* border: 2px solid black; */
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 1.5rem;
  margin-left: 1.5rem;
  /* flex-direction: column;
  align-items: center; */
  
}
.diet-coke{
      /* border: 2px solid black; */
    width: 30%;
    position: relative;
    
}
#diet-coke-img{
    width: 500px;
    position: absolute;
    top: 15%;
    right:-50%;
    transform: rotateZ(-20deg);
    transition: 2s;
    
}
#diet-coke-img:hover{
    transform: rotateZ(20deg);
}
input{
    /* margin-top: 3vh;
    height: 5vh;
    width: 70%; */
    height: 6vh;
    border: none;
    border-radius: 3px;
    padding-left: 10px;
    font-size: large;
      font-family: 'BBH Sans Bogle', sans-serif;
}

textarea{
      font-family: 'BBH Sans Bogle', sans-serif;
    height: 7vh;
    font-size: larger;
}
#submit{
    
    width: 45%;
    margin-top: 8vh;
    background: transparent;
    border: none;
    color: #fff;
    font-size: larger;
    padding: 15px 30px;
    border-radius: 15px;
    transition: 1s;
    background-color: rgba(0,0,0,0.4);
}
#submit:hover{
    background-color: black;
}
.input-group{
    /* border: 1px solid red; */
    margin-top: 5vh;
    height: 7vh;
    display: flex;
    flex-direction: column;
    width: 45%;
    /* background-color: bisque; */
}
.area{
    height: 12vh;
     
}